.hero-section {
    background-image: url('../images/herobg.jpg'); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-bottom: 50px;
    width: 100%;
    color: #04bb83;
    direction: rtl;
  }

  .hero-content {
    text-align: center;
    color: #04bb83;
    padding:  2vw 0;
    backdrop-filter: brightness(0.8) blur(5px);
  }
  
  .hero-content #button {
    background-color: #8da574;
  }
  .hero-content #button:hover {
    background-color: #61745c;
  }
