.main-section {
    padding: 20px 0;
  }
  .main-section-title {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;  /* Add space below the title */
    font-size: 2.5em;  /* Increase font size */
    color: #333;  /* Set a nice color */
  }
  .main-section .ant-card {
    background-color: rgb(141 164 115);
    text-align: center;
    transition: transform 0.2s; /* Add a transition effect for hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Enhance card shadow */
    padding: 2%;
  }
  
  .main-section .ant-card:hover {
    transform: translateY(-10px); /* Lift the card on hover */
    box-shadow: 0 8px 16px rgb(49 70 43); /* Enhance shadow on hover */
  }
 